@using Microsoft.AspNetCore.Identity
@using PomoTimer.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (Context.Request.Path.ToString().Substring(Context.Request.Path.ToString().LastIndexOf('/') + 1) == "UserDetails")
    {
        <form asp-controller="Home" asp-action="Index" method="post">
            <button type="submit">
                Go back
            </button>
        </form>
    }
    <form asp-controller="Account" asp-action="Logout" method="post" class="ml-auto">
        <a asp-controller="Account" asp-action="UserDetails">Hello @UserManager.GetUserName(User)</a>
        <button class="logoutButton" type="submit">Log out</button>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li>
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}