@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <canvas class="testChart" width="400" height="200"></canvas>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/userDetails.js"></script>
}