@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="timer">25:15</p>
    <input class="timerBtn" onclick="timerOn()" type="button" 
        value="Start timer">
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/timer.js"></script>
}
