@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="timer">25:00</p>
    <input type="button" value="Start timer" onclick="timerOn()">
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/timer.js"></script>
}
