body {
    background-color: #222831;
}

header {
    display: flex;
    justify-content: center;
}

.navbar {
    border-bottom: 1px solid #32e0c4;
    width: 700px;
    background-color: #222831;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

a:hover {
    color: #32e0c4;
    text-decoration: none;
}

.logoutButton {
    background-color: #222831;
    border: none;
    color: white;
}

.logoutButton:hover {
    color: #32e0c4;
}

.logoutButton:focus {
    outline: none;
}

.mainContainer {
    display: flex;
    background-color: #393e46;
    justify-content: center;
    margin-top: 50px;
    color: white;
    width: 500px;
    border-radius: 15px;
}

.formPage {
    display: flex;
    justify-content: center;
}

.formContainer {
    background-color: #393e46;
    padding: 20px;
    margin-top: 50px;
    width: 500px;
    border-radius: 15px;
}

.formContainer form .form-group label {
    color: white;
}

.timer {
    font-size: 100px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.timerBtn, .resetBtn {
    display: flex;
    color: #32e0c4;
    border: 1px solid #32e0c4;
    background-color: #393e46;
    width: 200px;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.timerBtn:hover, .resetBtn:hover {
    background-color: #32e0c4;
    color: #393e46;
}
